
/* Footer container */
footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
}

/* Footer sections container */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

/* Footer sections */
.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section h3 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 8px;
  text-align: center;
}

.footer-section ul li a {
  color: #bbb;
  text-decoration: none;
  font-size: 1rem;
}

.footer-section ul li a:hover {
  color: yellow;

}


/* Footer bottom section */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #bbb;
}
/* Social Media Section Styling */
.socailMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #333;
  padding: 20px;
  gap: 15px;
  color: white;
  font-size: 1.2rem;
}

.socailMedia li {
  list-style: none;
}

.socailMedia a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: #555; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, background-color 0.3s;
}

.socailMedia a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.socailMedia a:hover {
  background-color: #00aced;
  transform: scale(1.2);
}

.socailMedia p {
  margin: 0;
}

/* Responsiveness */
@media (max-width: 768px) {
  .socailMedia {
    flex-direction: column;
    gap: 10px;
  }

  .socailMedia li {
    margin-bottom: 10px;
  }

  .socailMedia a {
    width: 50px;
    height: 50px;
  }

  .socailMedia a img {
    width: 25px;
    height: 25px;
  }
}


/* Mobile responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    min-width: 100%;
    margin-bottom: 20px;
  }
  .socailMedia{
    display: flex;
    flex-direction: row;
  }
  .socailMedia img{
      width: 100%;
  }
  .socailMedia li a:hover{
      background-color: aqua;
  }
}
